{% extends 'agent/partials/base.html' %}
{% load static %}
{% block content %}



<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">                        
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> New Package </h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'agent:index' %}"><i class="icon-home"></i></a></li>                            
                        <li class="breadcrumb-item">Package</li>
                    </ul>
                </div>                 
            </div>
        </div>
        
        <div class="row clearfix">
            <div class="col-lg-12">
<div class="card">
    <div class="header">
        <h2>Dealer Package</h2>
        <div class="text-right">                    
            <a href="{% url 'agent:new_package' %}" class="btn btn-primary">New Package</a>
        </div>
    </div>
    <div class="body">
        <div class="table-responsive">
            <table class="table table-hover js-basic-example dataTable table-custom m-b-0 c_list">
                <thead>
                    <tr>
                        <th>
                            <label class="fancy-checkbox">
                                <input class="select-all" type="checkbox" name="checkbox">
                                <span></span>
                            </label>
                        </th>
                        <th>Package Name</th>                                    
                        <th>Agent Name</th>                                   
                        <th>Created by</th>
                        <th>Action</th>
                    </tr>
                </thead>
                    <tbody>
                    {% for package in packages %}
                    <tr>
                        <td style="width: 50px;">
                            <label class="fancy-checkbox">
                                <input class="checkbox-tick" type="checkbox" name="checkbox">
                                <span></span>
                            </label>
                        </td>
                        <td>
                            <p class="c_name">{{package.package_name}}</p>
                        </td>
                        <td>
                            <span class="phone"><i class="zmdi zmdi-phone m-r-10"></i>{{package.dealer.user}}</span>
                        </td> 
                        <td>
                            <p class="c_name">{{package.created_by}}</p>
                        </td>                                  
                        <td>
                            <a href="{% url 'agent:edit_package' package.id %}" class="btn btn-info" title="Edit">
                                <i class="fa fa-edit"></i>
                            </a>
                            <button type="button" onclick="packageDelete(('{{ package.id }}'))" data-type="confirm" class="btn btn-danger js-sweetalert" title="Delete"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function packageDelete(id) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this package!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Poof! This package has been deleted!", {
                        icon: "success",
                    });
                    setTimeout(function () {
                        window.location.href = "/agent/delete-package/" + id
                    }, 1000);
                } else {
                    swal("It is safe!");
                }
            });
    }


</script>

<script>
    function dealerban(id) {
        swal({
            title: "Are you sure?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("This user has been banned!", {
                        icon: "success",
                    });
                    setTimeout(function () {
                        window.location.href = "/agent/ban-agent/" + id
                    }, 1000);
                } else {
                    swal("It is safe!");
                }
            });
    }


</script>

<script>
    function removeBan(id) {
        swal({
            title: "Are you sure?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("This user's ban removed!", {
                        icon: "success",
                    });
                    setTimeout(function () {
                        window.location.href = "/agent/remove-ban/" + id
                    }, 1000);
                } else {
                    swal("It is safe!");
                }
            });
    }


</script>

{% endblock %}
