{% extends 'agent/partials/base.html' %}
{% load static %}
{% block content %}

<style>
    #mainTable th {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: white;
        /* To make it appear above the content */
    }
</style>

<div id="main-content">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card" style="margin-bottom: 10px !important;">
                    <div class="header" style="padding: 10px !important;">
                        <h2>{{time.end_time}}</h2>
                    </div>
                    <form>
                        <div class="body" style="padding: 10px !important;">
                            <div class="row clearfix">
                                <div class="col-lg-3 col-6">
                                    <div class="mb-3">
                                        <select class="form-control show-tick ms select2" data-placeholder="Select">
                                            {% for dealer in dealers %}
                                            <option>{{dealer.user}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="mb-3">
                                        <select class="form-control show-tick ms select2" data-placeholder="Select">
                                            {% for dealer in dealers %}
                                            <option>{{dealer.user}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-primary" id="button1">1</button>
                                    <button type="button" class="btn btn-warning" id="button2">2</button>
                                    <button type="button" class="btn btn-danger" id="button3">3</button>
                                </div>
                                <label class="control-inline fancy-checkbox ml-auto">
                                    <input type="checkbox" name="checkbox2" required data-parsley-mincheck="2"
                                        data-parsley-errors-container="#error-checkbox2">
                                    <span>R</span>
                                </label>
                            </div>
                            <div class="row">
                                <div class="form-group mt-3 col-lg-3 col-6">
                                    <label>Number</label>
                                    <input type="text" class="form-control" id="numberInput" required>
                                </div>
                                <div class="form-group mt-3 col-lg-3 col-6">
                                    <label>Count</label>
                                    <input type="number" class="form-control" id="countInput" required>
                                </div>
                            </div>

                            <div class="tab-content" style="padding: 10px !important;">
                                <div class="tab-pane show active" id="tabSet1">
                                    <ul class="nav nav-tabs-new">
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="">A</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="">B</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="">C</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="">ALL</a></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="tabSet2">
                                    <ul class="nav nav-tabs-new">
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="">AB</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="">BC</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="">AC</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="">ALL</a></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="tabSet3">
                                    <ul class="nav nav-tabs-new">
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="">Super</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" id="ButtonBox" href="">Box</a></li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" id="KBox" href="">K.Box</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="">Both</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- jdj -->

                        </div>


                    </form>
                </div>
            </div>
        </div>
        <!-- #END# Select2 -->

    </div>

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body" style="padding: 10px !important;">
                        <div class="table-container" style="max-height: 300px; overflow-y: auto;">
                            <table id="mainTable" class="table table-hover" style="table-layout: fixed; width: 100%;">
                                <thead>
                                    <tr>
                                        <th colspan="2">Count: 500</th>
                                        <th colspan="2">AMT: 5000.00</th>
                                        <th colspan="2">TOT: 6000.00</th>
                                    </tr>
                                    <tr>
                                        <th>LSK</th>
                                        <th>No</th>
                                        <th>Count</th>
                                        <th>D.AMT</th>
                                        <th>C.AMT</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


<script>

var button1 = document.getElementById("button1");
var button2 = document.getElementById("button2");
var button3 = document.getElementById("button3");

var numberInput = document.getElementById("numberInput");
var countInput = document.getElementById("countInput");

var maxDigits = 1;

button1.addEventListener("click", function () {
    maxDigits = 1;
    numberInput.value = "";
    numberInput.maxLength = maxDigits;
    numberInput.focus();
});

button2.addEventListener("click", function () {
    maxDigits = 2;
    numberInput.value = "";
    numberInput.maxLength = maxDigits;
    numberInput.focus();
});

button3.addEventListener("click", function () {
    maxDigits = 3;
    numberInput.value = "";
    numberInput.maxLength = maxDigits;
    numberInput.focus();
});

numberInput.addEventListener("input", function () {
    if (numberInput.value.length === maxDigits) {
        countInput.focus();
    }
});

</script>


<script>
    var agentPackageData = {
        package_name: "{{ agent_package.package_name }}",
        single_rate: {{ agent_package.single_rate }},
        single_dc: {{agent_package.single_dc}},
        double_rate: {{agent_package.double_rate}},
        double_dc: {{agent_package.double_dc}},
        super_rate: {{agent_package.super_rate}},
        super_dc: {{agent_package.super_dc}},
        box_rate: {{agent_package.box_rate}},
        box_dc: {{agent_package.box_dc}},
    };
    var singleRate = agentPackageData.single_rate;
    var singleDC = agentPackageData.single_dc;
    var doubleRate = agentPackageData.double_rate;
    var doubleDC = agentPackageData.double_dc;
    var superRate = agentPackageData.super_rate;
    var superDC = agentPackageData.super_dc;
    var boxRate = agentPackageData.box_rate;
    var boxDC = agentPackageData.box_dc;
    console.log(superDC)
    var amounts = {
        "A": singleRate,
        "B": singleRate,
        "C": singleRate,
        "AB": doubleRate,
        "BC": doubleRate,
        "AC": doubleRate,
        "Super": superRate,
        "Box": boxRate,
        "K.Box": boxRate
    };
    var dcs = {
        "A": singleDC,
        "B": singleDC,
        "C": singleDC,
        "AB": doubleDC,
        "BC": doubleDC,
        "AC": doubleDC,
        "Super": superDC,
        "Box": boxDC,
        "K.Box": boxDC
    }
function calculateAndDisplay(linkText) {
    var number = parseFloat(document.getElementById("numberInput").value);
    var count = parseFloat(document.getElementById("countInput").value);

        if (isNaN(number) || isNaN(count)) {
        console.log("Invalid input. Please enter valid numbers.");
        return; 
    }

    var rate = amounts[linkText];
    var dc = dcs[linkText];
    var result1 = (count * rate).toFixed(2);
    var result2 = (count * (rate + dc)).toFixed(2);

    var newRow = document.createElement("tr");

    newRow.innerHTML = `
        <td>${linkText}</td>
        <td>${number}</td>
        <td>${count}</td>
        <td>${result1}</td>
        <td>${result2}</td>
        <td><button type="button" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button></td>
    `;

    var tableBody = document.querySelector("#mainTable tbody");
    tableBody.appendChild(newRow);


    if (linkText === "ALL" && document.getElementById("tabSet1").classList.contains("show")) {
        var allLinkTexts = ["A", "B", "C"];
        allLinkTexts.forEach(function (allLink) {
            if (allLink !== "ALL") {
                var allRow = document.createElement("tr");
                var allResult1 = (count * amounts[allLink]).toFixed(2);
                var allResult2 = (count * (amounts[allLink] + dcs[allLink])).toFixed(2);
                allRow.innerHTML = `
                    <td>${allLink}</td>
                    <td>${number}</td>
                    <td>${count}</td>
                    <td>${allResult1}</td>
                    <td>${allResult2}</td>
                    <td><button type="button" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button></td>
                `;
                tableBody.appendChild(allRow);
            }
        });
    }

    if (linkText === "ALL" && document.getElementById("tabSet2").classList.contains("show")) {
        var allLinkTexts = ["AB", "BC", "AC"];
        allLinkTexts.forEach(function (allLink) {
            if (allLink !== "ALL") {
                var allRow = document.createElement("tr");
                var allResult1 = (count * amounts[allLink]).toFixed(2);
                var allResult2 = (count * (amounts[allLink] + dcs[allLink])).toFixed(2);
                allRow.innerHTML = `
                    <td>${allLink}</td>
                    <td>${number}</td>
                    <td>${count}</td>
                    <td>${allResult1}</td>
                    <td>${allResult2}</td>
                    <td><button type="button" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button></td>
                `;
                tableBody.appendChild(allRow);
            }
        });
    }
} 

var tabLinks = document.querySelectorAll(".nav-link");
tabLinks.forEach(function (link) {
    link.addEventListener("click", function () {
        calculateAndDisplay(link.textContent);
        removeRowWithContent("ALL");
        removeRowWithContent("K.Box");
    });
});

calculateAndDisplay("A");

function removeRowWithContent(content) {
    var table = document.querySelector("#mainTable");
    var rows = table.getElementsByTagName("tr");
    for (var i = 0; i < rows.length; i++) {
        var row = rows[i];
        var cells = row.getElementsByTagName("td");
        for (var j = 0; j < cells.length; j++) {
            if (cells[j].textContent === content) {
                row.parentNode.removeChild(row);
                return;
            }
        }
    }
}




</script>

<script>
// Define the getCombinations function outside of the click event listener
function getCombinations(inputNumber) {
    const numberStr = inputNumber.toString();
    const result = [];
    if (numberStr.length !== 3) {
        return result;
    }

    // Generate all combinations with unique digits
    for (let i = 0; i < 3; i++) {
        for (let j = 0; j < 3; j++) {
            for (let k = 0; k < 3; k++) {
                if (i !== j && i !== k && j !== k) {
                    const combination = numberStr[i] + numberStr[j] + numberStr[k];
                    if (!result.includes(combination)) {
                        result.push(combination);
                    }
                }
            }
        }
    }

    return result;
}


document.getElementById("ButtonBox").addEventListener("click", function () {
    var number = parseFloat(document.getElementById("numberInput").value);
    var count = parseFloat(document.getElementById("countInput").value);

    if (isNaN(number) || isNaN(count)) {
        console.log("Invalid input. Please enter valid numbers.");
        return;
    }

    var linkText = "Super";
    const inputNumber = number;
    const combinations = getCombinations(inputNumber);
    console.log(combinations,"combinations");

    var tableBody = document.querySelector("#mainTable tbody");

    combinations.forEach(function (combination) {
        var allRow = document.createElement("tr");
        var allResult1 = (count * amounts[linkText]).toFixed(2);
        var allResult2 = (count * (amounts[linkText] + dcs[linkText])).toFixed(2);
        allRow.innerHTML = `
        <td>${linkText}</td>
        <td>${combination}</td> <!-- Display the combination in this cell -->
        <td>${count}</td>
        <td>${allResult1}</td>
        <td>${allResult2}</td>
        <td><button type="button" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button></td>
        `;
        tableBody.appendChild(allRow);
  });
});

</script>


<script>
    document.getElementById("KBox").addEventListener("click", function () {
        var number = parseFloat(document.getElementById("numberInput").value);
        var count = parseFloat(document.getElementById("countInput").value);
    
        if (isNaN(number) || isNaN(count)) {
            console.log("Invalid input. Please enter valid numbers.");
            return;
        }
    
        var linkText = "Box"; // Set the linkText to "Box"
        
        // Create a new row for "Box"
        var newRow = document.createElement("tr");
        var result1 = (count * amounts[linkText]).toFixed(2);
        var result2 = (count * (amounts[linkText] + dcs[linkText])).toFixed(2);
        newRow.innerHTML = `
            <td>${linkText}</td>
            <td>${number}</td>
            <td>${count}</td>
            <td>${result1}</td>
            <td>${result2}</td>
            <td><button type="button" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button></td>
        `;
        
        // Add the new row to the table
        var tableBody = document.querySelector("#mainTable tbody");
        tableBody.appendChild(newRow);
    });
    </script>
    

<script>
    document.getElementById("button1").addEventListener("click", function () {
        document.getElementById("tabSet1").classList.add("show", "active");
        document.getElementById("tabSet2").classList.remove("show", "active");
        document.getElementById("tabSet3").classList.remove("show", "active");
    });

    document.getElementById("button2").addEventListener("click", function () {
        document.getElementById("tabSet1").classList.remove("show", "active");
        document.getElementById("tabSet2").classList.add("show", "active");
        document.getElementById("tabSet3").classList.remove("show", "active");
    });

    document.getElementById("button3").addEventListener("click", function () {
        document.getElementById("tabSet1").classList.remove("show", "active");
        document.getElementById("tabSet2").classList.remove("show", "active");
        document.getElementById("tabSet3").classList.add("show", "active");
    });
</script>


{% endblock %}