{% load static %}
<div id="left-sidebar" class="sidebar">
    <div class="sidebar-scroll">
        <div class="user-account">
            <div class="dropdown">
                <span>Welcome,</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>{{request.user}}</strong></a>
                <ul class="dropdown-menu dropdown-menu-right account">
                    <!-- <li><a href="page-profile2.html"><i class="icon-user"></i>My Profile</a></li>
                    <li><a href="app-inbox.html"><i class="icon-envelope-open"></i>Messages</a></li>
                    <li><a href="javascript:void(0);"><i class="icon-settings"></i>Settings</a></li>
                    <li class="divider"></li> -->
                    <li><a href="{% url 'website:logout' %}"><i class="icon-power"></i>Logout</a></li>
                </ul>
            </div>
            <hr>
          
        </div>
        <!-- Nav tabs -->
      
            
        <!-- Tab panes -->
        <div class="tab-content p-l-0 p-r-0">
            <div class="tab-pane active" id="menu">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu">                            
                        <li class="active">
                           
                                <a href="{% url 'adminapp:index' %}" ><i class="icon-home"></i> <span>Dashboard</span></a>
                               
                            </li>
                        <li>
                            <a href="#Results" class="has-arrow"><i class="icon-trophy"></i> <span>Result</span></a>
                            <ul>
                                <li><a href="{% url 'adminapp:add_result' %}">Add Result</a></li>                                    
                                <li><a href="{% url 'adminapp:view_results' %}">View Result</a></li>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="#Dashboard" class="has-arrow"><i class="icon-users"></i> <span>Agent</span></a>
                            <ul>
                                <li><a href="{% url 'adminapp:add_agent' %}">Add Agent</a></li>                                    
                                <li><a href="{% url 'adminapp:view_agent' %}">View Agent</a></li>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="#Dashboard" class="has-arrow"><i class=" icon-control-pause"></i> <span>Package</span></a>
                            <ul>
                                <li><a href="{% url 'adminapp:package' %}">Package</a></li>                                    
                                <li><a href="{% url 'adminapp:new_package' %}">New Package</a></li>
                                
                            </ul>
                        </li>
                      
                        <li>
                            <a href="#GameTime" class="has-arrow"><i class=" icon-speedometer"></i> <span>Game Time</span></a>
                            <ul>
                                <li><a href="{% url 'adminapp:add_time' %}">Add Time</a></li>                                    
                                <li><a href="{% url 'adminapp:change_time' %}">Change Time</a></li>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'adminapp:monitor' %}" ><i class="icon-screen-desktop"></i> <span>Monitor</span></a>
                           
                        </li>
                        <li>
                            <a href="{% url 'adminapp:dailyreport' %} "><i class="icon-book-open "></i> <span>Daily Report</span></a>
                         
                        </li>
                        <li>
                            <a href="#uiElements" class="has-arrow"><i class="icon-grid"></i> <span>Others</span></a>
                            <ul>
                                <!-- <li><a href="ui-typography.html">Customer</a></li> -->
                                
                                <li><a href="{% url 'adminapp:sales_report' %}">Sales report</a></li>
                                <li><a href="{% url 'adminapp:countwise_report' %}"> Count Wise Report</a></li>
                                <li><a href="{% url 'adminapp:countsales_report' %}">Count Sale Report</a></li>
                                <li><a href="{% url 'adminapp:winning_report' %}">Winning Report</a></li>

                                <li><a href="{% url 'adminapp:winningcount_report' %}">Count Winning Report</a></li> 
                                <li><a href="{% url 'adminapp:blocked_numbers' %}">Blocked Numbers</a></li>                                   
                                <li><a href="{% url 'adminapp:edit_bill' %}">Edit Bill</a></li>
                                <li><a href="{% url 'adminapp:payment_report' %}">Payment Report</a></li>
                               
                                
                           
                            </ul>
                        </li>
                        
                        
                        <li>
                            <a href="{% url 'adminapp:change_password' %}" ><i class="icon-note"></i> <span>Change Paasword</span></a>
                           
                        </li>
                        <li>
                        <a href="{% url 'adminapp:settings' %}"><i class="icon-settings"></i>Settings</a></li>
                        <li>
                       
                     
                    </ul>
                </nav>
            </div>
              
        </div>          
    </div>
</div>