{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}



<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">                        
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"></a>  <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'adminapp:index' %}"><i class="icon-home"></i></a></li>                            
                        <li class="breadcrumb-item">Blocked Numbers</li>
                    </ul></h2>
                   
                </div>            
              
            </div>
        </div>
        
        <div class="row clearfix">
            <div class="col-lg-12">
<div class="card">
    <div class="header">
        <h2>Blocked Numbers</h2>
    </div>
    <div class="body">
        <div class="table-responsive">
            <table class="table table-hover js-basic-example dataTable table-custom m-b-0 c_list">
                <thead>
                    <tr>
                        <th>
                            <label class="fancy-checkbox">
                                <input class="select-all" type="checkbox" name="checkbox">
                                <span></span>
                            </label>
                        </th>
                        <th>blocked Name</th>                                    
                        <th>Phone</th> 
                        <th>Username</th>                                   
                        <th>Package</th>
                        <th>Action</th>
                    </tr>
                </thead>
                    <tbody>
                    {% for agent in agents %}
                    <tr>
                        <td style="width: 50px;">
                            <label class="fancy-checkbox">
                                <input class="checkbox-tick" type="checkbox" name="checkbox">
                                <span></span>
                            </label>
                        </td>
                        <td>
                            <p class="c_name">{{agent.agent_name}}</p>
                        </td>
                        <td>
                            <span class="phone"><i class="zmdi zmdi-phone m-r-10"></i>{{agent.phone_number}}</span>
                        </td> 
                        <td>
                            <p class="c_name">{{agent.user.username}}</p>
                        </td>                                  
                        <td>
                            <address><i class="zmdi zmdi-pin"></i> FL 32904</address>
                        </td>
                        <td>
                            {% if agent.user.is_active %}      
                            <button  type="button" onclick="agentBan(('{{ agent.id }}'))" class="btn btn-warning" title="Ban"> <i class="fa fa-ban"></i></button>
                            {% else %}
                            <button  type="button" onclick="removeBan(('{{ agent.id }}'))" class="btn btn-warning" title="Remove Ban"> <i class="fa fa-check"></i></button>
                            {% endif %}
                            <a href="{% url 'adminapp:edit_agent' agent.id %}" class="btn btn-info" title="Edit">
                                <i class="fa fa-edit"></i>
                            </a>
                            <button type="button" onclick="agentDelete(('{{ agent.id }}'))" data-type="confirm" class="btn btn-danger js-sweetalert" title="Delete"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function agentDelete(id) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this user!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Poof! This user has been deleted!", {
                        icon: "success",
                    });
                    setTimeout(function () {
                        window.location.href = "/adminapp/delete-agent/" + id
                    }, 1000);
                } else {
                    swal("It is safe!");
                }
            });
    }


</script>

<script>
    function agentBan(id) {
        swal({
            title: "Are you sure?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("This user has been banned!", {
                        icon: "success",
                    });
                    setTimeout(function () {
                        window.location.href = "/adminapp/ban-agent/" + id
                    }, 1000);
                } else {
                    swal("It is safe!");
                }
            });
    }


</script>

<script>
    function removeBan(id) {
        swal({
            title: "Are you sure?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("This user's ban removed!", {
                        icon: "success",
                    });
                    setTimeout(function () {
                        window.location.href = "/adminapp/remove-ban/" + id
                    }, 1000);
                } else {
                    swal("It is safe!");
                }
            });
    }


</script>

{% endblock %}