{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}


<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">                        
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Dashboard</h2>
                    
                </div>            
                
            </div>
        </div>

        <div class="row clearfix">
            
              <div class="col-lg-3 col-md-6">
                <div class="card text-center bg-info">
                    <div class="body">
                        <div class="p-15 text-light">
                            <h3>1 PM</h3>
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card text-center bg-secondary">
                    <div class="body">
                        <div class="p-15 text-light">
                            <h3>4 PM</h3>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card text-center bg-warning">
                    <div class="body">
                        <div class="p-15 text-light">
                            <h3>8 PM</h3>
                          
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        
       


                   
        
    </div>
</div>



{% endblock %}