{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}

<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <!-- <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">                        
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Packages</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                        <li class="breadcrumb-item">Packages</li>
                    </ul>
                </div>            
                -->
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2>Create Winning Price</h2>
                    </div>
                    <div class="body" >
                        <form id="basic-form" method="post" novalidate>
                            <div class="body">
                                
                                <div class="row clearfix">
                                    <div class="col-md-6"> <b>1 st</b>
                                        <div class="input-group ">
                                            <input type="text" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><span class="input-group-addon"> <i></i> </span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> <b>2nd</b>
                                        <div class="input-group ">
                                            <input type="text" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><span class="input-group-addon"> <i></i> </span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> <b>3rd</b>
                                        <div class="input-group ">
                                            <input type="text" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><span class="input-group-addon"> <i></i> </span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> <b>4th</b>
                                        <div class="input-group ">
                                            <input type="text" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><span class="input-group-addon"> <i></i> </span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> <b>5 th</b>
                                        <div class="input-group ">
                                            <input type="text" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><span class="input-group-addon"> <i></i> </span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> <b>Guarentee 6 th</b>
                                        <div class="input-group ">
                                            <input type="text" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><span class="input-group-addon"> <i></i> </span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> <b>Box 1 st price</b>
                                        <div class="input-group ">
                                            <input type="text" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><span class="input-group-addon"> <i></i> </span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> <b>Box Series</b>
                                        <div class="input-group ">
                                            <input type="text" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><span class="input-group-addon"> <i></i> </span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> <b>Single</b>
                                        <div class="input-group ">
                                            <input type="text" class="form-control">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><span class="input-group-addon"> <i></i> </span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right "><button type="submit" class="btn btn-primary">Save</button></div>
                            </div>
                      
                        </form>
                    </div>
                </div>
            </div>
           
        </div>
        
</div>
{% endblock %}
