{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}

<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">                        
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Daily Report</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                        <!-- <li class="breadcrumb-item">Pages</li> -->
                        <li class="breadcrumb-item active">Daily Report</li>
                    </ul>
                </div>            
               
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    
                    <div class="body">                            
                        <ul class="nav nav-tabs-new m-b-20">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Web">All Agents</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Images">All Dealer</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Videos">1</a></li>                                
                        </ul>                        
                        
                    </div>
                </div>
                <div class="tab-content padding-0">
                    <div class="tab-pane card active" id="Web">
                        <div class="row clearfix">
                            <div class="col-lg-12">
                                <div class="card">
                                   
                                        <table id="mainTable" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Ticket</th>
                                                    <th>Rate</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>SUPER</td>
                                                    <td contenteditable="true" name="first_prize" style="position: relative;">
                                                        <input type="number" value="5000" required  step="0.01" name="first_prize" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: transparent;">
                                                    </td>
                                                    <td contenteditable="true" name="first_dc" style="position: relative;">
                                                        <input type="number" value="400" required  step="0.01" name="first_dc" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: transparent;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>BOX</td>
                                                    <td contenteditable="true" name="second_prize" style="position: relative;">
                                                        <input type="number" value="500" required  step="0.01" name="second_prize" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: transparent;">
                                                    </td>
                                                    <td contenteditable="true" name="second_dc" style="position: relative;">
                                                        <input type="number" value="50" required  step="0.01" name="second_dc" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: transparent;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>AB</td>
                                                    <td contenteditable="true" name="third_prize" style="position: relative;">
                                                        <input type="number" value="250" required  step="0.01" name="third_prize" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: transparent;">
                                                    </td>
                                                    <td contenteditable="true" name="third_dc" style="position: relative;">
                                                        <input type="number" value="30" required  step="0.01" name="third_dc" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: transparent;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>BC</td>
                                                    <td contenteditable="true" name="fourth_prize" style="position: relative;">
                                                        <input type="number" value="100" required  step="0.01" name="fourth_prize" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: transparent;">
                                                    </td>
                                                    <td contenteditable="true" name="fourth_dc" style="position: relative;">
                                                        <input type="number" value="20" required  step="0.01" name="fourth_dc" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: transparent;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>AC</td>
                                                    <td contenteditable="true" name="fifth_prize" style="position: relative;">
                                                        <input type="number" value="50" required  step="0.01" name="fifth_prize" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: transparent;">
                                                    </td>
                                                    <td contenteditable="true" name="fifth_dc" style="position: relative;">
                                                        <input type="number" value="10" required  step="0.01" name="fifth_dc" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: transparent;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>A</td>
                                                    <td contenteditable="true" name="guarantee_prize" style="position: relative;">
                                                        <input type="number" value="20" required  step="0.01" name="guarantee_prize" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: transparent;">
                                                    </td>
                                                    <td contenteditable="true" name="guarantee_dc" style="position: relative;">
                                                        <input type="number" value="0" required  step="0.01" name="guarantee_dc" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: transparent;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>B</td>
                                                    <td contenteditable="true" name="box_first_prize" style="position: relative;">
                                                        <input type="number" value="3000" required  step="0.01" name="box_first_prize" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: transparent;">
                                                    </td>
                                                    <td contenteditable="true" name="box_first_prize_dc" style="position: relative;">
                                                        <input type="number" value="250" required  step="0.01" name="box_first_prize_dc" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: transparent;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>C</td>
                                                    <td contenteditable="true" name="box_series_prize" style="position: relative;">
                                                        <input type="number" value="800" required  step="0.01" name="box_series_prize" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: transparent;">
                                                    </td>
                                                    <td contenteditable="true" name="box_series_dc" style="position: relative;">
                                                        <input type="number" value="50" required  step="0.01" name="box_series_dc" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: transparent;">
                                                    </td>
                                                </tr>
                                              
                                            </tbody>
                                        </table>
                                        <button  type="submit" class="btn btn-primary">submit</button>
                                   
                                </div>
                            </div>
                        </div>
                      
                      
                    </div>
                    <div class="tab-pane card" id="Images">
                        <div class="body text-center">
                            <div class="not_found">
                                <h4 class="m-b-0">Sorry No result found.</h4>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane card" id="Videos">
                        <div class="body text-center">
                            <div class="not_found">
                                <h4 class="m-b-0">Sorry No result found.</h4>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
{% endblock %}

