{% extends 'adminapp/partials/base.html' %}
{% load static %}
{% block content %}
<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">                        
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> New Package </h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'adminapp:index' %}"><i class="icon-home"></i></a></li>                            
                        <li class="breadcrumb-item">Package</li>
                        <li class="breadcrumb-item active">New Package </li>
                    </ul>
                </div>            
             
            </div>
        </div>

        <form method="POST">
        {% csrf_token %}
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-6">
                                <div class="mb-3">
                                    <label>Select Agent</label>
                                    <select name="agent" class="form-control show-tick ms select2" data-placeholder="Select">
                                        {% for agent in agents %}
                                        <option>{{agent.user}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="mb-3">
                                    <div class="form-group">
                                        <label>Package Name</label>
                                        <input type="text" name="package_name" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body">
                        <table id="mainTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Ticket</th>
                                    <th>Rate</th>
                                    <th>DC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td contenteditable="true" name="single_ticket">Single</td>
                                    <td contenteditable="true" name="single_rate">230</td>
                                    <td contenteditable="true" name="single_dc">200</td>
                                </tr>
                                <tr>
                                    <td contenteditable="true" name="double_ticket">Double</td>
                                    <td contenteditable="true" name="double_rate">330</td>
                                    <td contenteditable="true" name="double_dc">240</td>
                                </tr>
                                <tr>
                                    <td contenteditable="true" name="box_ticket">BOX</td>
                                    <td contenteditable="true" name="box_rate">430</td>
                                    <td contenteditable="true" name="box_dc">540</td>
                                </tr>
                                <tr>
                                    <td contenteditable="true" name="super_ticket">Super</td>
                                    <td contenteditable="true" name="super_rate">100</td>
                                    <td contenteditable="true" name="super_dc">200</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body">
                        <table id="mainTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Position</th>
                                    <th>Win Prize</th>
                                    <th>DC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>First</td>
                                    <td>230</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td>Second</td>
                                    <td>330</td>
                                    <td>240</td>
                                </tr>
                                <tr>
                                    <td>Third</td>
                                    <td>430</td>
                                    <td>540</td>
                                </tr>
                                <tr>
                                    <td>Fourth</td>
                                    <td>100</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td>Fifth</td>
                                    <td>100</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td>Guarantee</td>
                                    <td>100</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td>Box First Prize</td>
                                    <td>100</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td>Box Series</td>
                                    <td>100</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td>Single(1)</td>
                                    <td>100</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td>Double(2)</td>
                                    <td>100</td>
                                    <td>200</td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </form>
        
    </div>
</div>



{% endblock %} 