{% load static %}
</div>

<!-- Javascript -->
<script src="{% static 'bundles/libscripts.bundle.js' %}"></script>    
<script src="{% static 'bundles/vendorscripts.bundle.js' %}"></script>

<script src="{% static 'bundles/jvectormap.bundle.js' %}"></script> <!-- JVectorMap Plugin Js -->
<script src="{% static 'bundles/chartist.bundle.js' %}"></script>
<script src="{% static 'bundles/datatablescripts.bundle.js' %}"></script>

<script src="{% static 'bundles/mainscripts.bundle.js' %}"></script>
<script src="{% static 'js/pages/tables/jquery-datatable.js' %}"></script>
<script src="{% static 'js/index7.js' %}"></script>