{% load static %}
<div id="left-sidebar" class="sidebar">
    <div class="sidebar-scroll">
        <div class="user-account">
            <div class="dropdown">
                <span>Welcome,</span>
                <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>{{request.user}}</strong></a>
                <ul class="dropdown-menu dropdown-menu-right account">
                    <li><a href="page-profile2.html"><i class="icon-user"></i>My Profile</a></li>
                    <li><a href="app-inbox.html"><i class="icon-envelope-open"></i>Messages</a></li>
                    <li><a href="javascript:void(0);"><i class="icon-settings"></i>Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'website:logout' %}"><i class="icon-power"></i>Logout</a></li>
                </ul>
            </div>
            <hr>
          
        </div>
        <!-- Nav tabs -->
      
            
        <!-- Tab panes -->
        <div class="tab-content p-l-0 p-r-0">
            <div class="tab-pane active" id="menu">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu">                            
                        <li class="active">
                           
                                <a href="{% url 'agent:index' %}" ><i class="icon-home"></i> <span>Dashboard</span></a>

                            </li>
                        <li>
                            <a href="#App" class="has-arrow"><i class=" icon-users"></i> <span>Dealer</span></a>
                            <ul>
                                <li><a href="{% url 'agent:add_dealer' %}">Add Dealer</a></li> 
                                <li><a href="{% url 'agent:view_dealer' %}">View Dealer</a></li>                                    
                                   
                                
                            </ul>
                        </li>

                        <li>
                            <a href="{% url 'agent:results' %}" ><i class=" icon-trophy"></i> <span>Results</span></a>
                           
                        </li>
<!-- 
                        <li>
                            <a href="{% url 'agent:booking' %}" class=""><i class=" icon-bag"></i> <span></span>Booking</a>
                        
                        </li> -->
                        <li>
                            <a href="#Dashboard" class="has-arrow"><i class=" icon-control-pause"></i> <span>Package</span></a>
                            <ul>
                                <li><a href="{% url 'agent:package' %}">Package</a></li>                                    
                                <li><a href="{% url 'agent:new_package' %}">New Package</a></li>
                                
                            </ul>
                        </li>
                      
                      
                        <li>
                            <a href="#uiElements" class="has-arrow"><i class="icon-book-open "></i> <span>Reports</span></a>
                            <ul>
                                <li>
                                    <a href=" {% url 'agent:sales_report' %}" ><i class="icon-bag"></i> <span>Sales Report</span></a>
                                  
                                </li>
                                <li>
                                    <a href=" {% url 'agent:daily_report' %}" ><i class="icon-screen-desktop"></i> <span>daily_report</span></a>
                                   
                                </li>
                                <li>
                                    <a href=" {% url 'agent:winning_report' %}"><i class="icon-book-open "></i> <span>winning Report</span></a>
                                 
                                </li>
                                
                                <li>
                                    <a href=" {% url 'agent:count_salereport' %}"><i class="icon-book-open "></i> <span>Count Sales Report</span></a>
                                 
                                </li>
                                <li>
                                    <a href=" {% url 'agent:winning_countreport' %}"><i class="icon-book-open "></i> <span>Winnning Count Report</span></a>
                                 
                                </li>
                                <li>
                                    <a href=" {% url 'agent:balance_report' %}"><i class="icon-book-open"></i> <span>Balance Report</span></a>
                                 
                                </li>
                               
                               
                           
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-arrow"><i class="icon-grid"></i> <span>Collection</span></a>
                            <ul>
                               
                                
                                <li>
                                    <a href=" {% url 'agent:collection_report' %}"><i class="icon-book-open "></i> <span>Collection Report</span></a>
                                 
                                </li>
                                <li>
                                    <a href=" {% url 'agent:add_collection' %}"><i class="icon-book-open "></i> <span> Add Collection</span></a>
                                 
                                </li>
                                
                               
                           
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-arrow"><i class="icon-settings"></i> <span>Settings</span></a>
                            <ul>
                               
                                
                                <li>
                                        <a href="{% url 'agent:edit_bill' %}" ><i class="icon-note"></i> <span>Edit Bill</span></a>
                                   
                                </li>
                                <li>
                                    <a href="{% url 'agent:change_password' %}" ><i class="icon-note"></i> <span>Change Paasword</span></a>
                                   
                                </li>
                                
                               
                           
                            </ul>
                        </li>
                       
                        
                        
                       
                     
                    </ul>
                </nav>
            </div>
              
        </div>          
    </div>
</div>